<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
   <h1>User info</h1>
　  <table class="table">
　　 <tbody>
      <tr>
       <th>
        <%= image_tag current_user.get_profile_image(100,100) %>
       </th>
      </tr>
      <tr>
       <th>name</th>
       <th>
         <%= current_user.name %>
       </th>
      </tr>
      <tr>
       <th>introduction</th>
       <th><%= current_user.introduction %></th>
      </tr>
  　  </tbody>
　  </table>
　    <div>
      <%= link_to edit_user_path(@user.id), class: 'btn btn-outline-secondary btn-block' do %>
       <i class="fas fa-user-cog"></i>
      <% end %>
      </div>

      <h2>New book</h2>
      <%= form_with model: book do |f| %>
      <div class="form-group">
       <p>Title</p>
        <%= f.text_field :title, class:"form-control" %>
      </div>
      <div class="form-group">
        <p>Opinion</p>
        <%= f.text_area :body, class:"form-control" %><br>
      </div>
      <div class="form-group">
        <%= f.submit 'Create Book', class: 'btn btn-success btn-lg' %>
      </div>



     <% end %>
    </div>